@using System.Globalization

<!doctype html>
<html lang="@CultureInfo.CurrentUICulture.Name.ToLowerInvariant()">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewData["Title"] - Flor de Zaya</title> @RenderSection("additionalMeta", false)
    <link simpl-append-version="true" rel="stylesheet" href="~/themes/FlorDeZaya/site.min.css" />
    <script simpl-append-version="true" src="~/lib/angular/angular.min.js"></script>
    @RenderSection("head", required: false)
</head>
<body>
    <a href="https://api.whatsapp.com/send?phone=5511997898054" class="a-float" target="_blank">
        <img src="/user-content/ZayaWhats.png" class="img-float" alt="Flor de Zaya">
    </a>
    <div class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand p-0" style="font-family:beauty_flowerregular;font-size:32px;position:absolute;top:0px" href="/">Flor de Zaya</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMain" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-between" id="navbarMain" style="margin-left:150px">
                @await Component.InvokeAsync("CategoryMenu")
                <ul class="form-inline m-0 pull-right navbar-nav">
                    <partial name="_LoginPartial" />
                </ul>
            </div>
        </div>
    </div>
    <div class="py-2 bg-secondary sticky-top">
        <div class="container">
            <div class="row">
                <div class="col">                    
                    @await Component.InvokeAsync("SearchForm")
                </div>
                <div class="col-auto pull-right" style="margin-right:10px">
                    @await Component.InvokeAsync("CartBadge")
                </div>
            </div>
        </div>
    </div>
    <partial name="_CookieConsentPartial" />
    <div class="container-fluid px-5 py-5 mx-auto">
        @RenderBody()
    </div>
    <div class="footer-content">
        <div class="container">
            <div class="row" style="justify-content: space-evenly;">
                <div class="col-auto">
                    <h4>@Localizer["Customer Service"]</h4>
                    <vc:menu menu-id="1"></vc:menu>
                </div>
                <div class="col-auto">
                    <h4>@Localizer["Information"]</h4>
                    <vc:menu menu-id="2"></vc:menu>
                </div>
                <div class="col-auto">
                    <h4>Siga-nos</h4>
                    <ul class="list-unstyled">
                        <li>
                            <a href="https://www.instagram.com/flordezaya" target="_blank" title="Instagram">
                                <i class="fa-brands fa-instagram-square fa-xl"></i>
                                <span>Instagram</span>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.facebook.com/flordezaya" target="_blank" title="Facebook">
                                <i class="fa-brands fa-facebook-square fa-xl"></i>
                                <span>Facebook</span>
                            </a>
                        </li>
                        <li>
                            <a href="/" target="_blank" title="Youtube">
                                <i class="fa-brands fa-youtube-square fa-xl"></i>
                                <span>Youtube</span>
                            </a>
                        </li>
                        <li>
                            <a href="https://api.whatsapp.com/send?phone=5511997898054" target="_blank" title="Youtube">
                                <i class="fa-brands fa-whatsapp-square fa-xl"></i>
                                <span>WhatsApp</span>
                            </a>
                        </li>
                        <li>
                            <a href="mailto:contato@flordezaya.com.br" target="_blank" title="Youtube">
                                <i class="fa-solid fa-square-envelope fa-xl"></i>
                                <span>Email</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div id="shopModal" class="modal fade" tabindex="-1">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
            </div>
        </div>
    </div>
    <div id="productOverview" class="modal fade" tabindex="-1">
        <div class="modal-dialog modal-lg">
            <div class="modal-content modal-padding">
            </div>
        </div>
    </div>
    <div class="bg-secondary">
        <div class="container">
            <div class="row">
                <div class="col">
                    <span class="pull-left py-2" style="font-size:14px;letter-spacing:1px">45.273.449/0001-61 Flor de Zaya Roupas Femininas &copy; 2022</span>
                    <span class="pull-right py-2" style="font-size:14px;letter-spacing:1px">Desenvolvido por <a href="/"><strong>connexio</strong></a></span>
                </div>
            </div>
        </div>
    </div>
    <script>
        window.simplGlobalSetting = {};
        window.simplGlobalSetting.lang = '@CultureInfo.CurrentCulture.Name';
    </script>
    <script simpl-append-version="true" src="~/themes/FlorDeZaya/jquery/jquery-3.6.0.min.js"></script>
    <script simpl-append-version="true" src="~/themes/FlorDeZaya/bootstrap/dist/js/bootstrap.js"></script>
    <script simpl-append-version="true" src="~/lib/matchheight/jquery.matchHeight.js"></script>
    <script simpl-append-version="true" src="~/lib/toastr/build/toastr.min.js"></script>
    <script simpl-append-version="true" src="~/lib/bootstrap-star-rating/js/star-rating.js"></script>
    <script simpl-append-version="true" src="~/lib/signalr/dist/browser/signalr.js"></script>
    @if (CultureInfo.CurrentCulture.Name != SimplCommerce.Infrastructure.GlobalConfiguration.DefaultCulture)
    {
        <script simpl-append-version="true" src="~/lib/bootstrap-star-rating/js/locales/@(CultureInfo.CurrentCulture.Name).js"></script>
    }
    <script simpl-append-version="true" src="~/_content/SimplCommerce.Module.Core/main.js"></script>
    <script simpl-append-version="true" src="~/_content/SimplCommerce.Module.ShoppingCart/add-to-cart.js"></script>
    <script simpl-append-version="true" src="~/_content/SimplCommerce.Module.ProductComparison/product-comparison.js"></script>
    <script simpl-append-version="true" src="~/_content/SimplCommerce.Module.WishList/wishlist.js"></script>
    @RenderSection("scripts", required: false)
    <partial name="_AnalyticsScript" />
</body>
</html>
