@using System.Globalization

<!doctype html>
<html lang="@CultureInfo.CurrentUICulture.Name.ToLowerInvariant()">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewData["Title"] - Flor de Zaya</title> @RenderSection("additionalMeta", false)
    <link simpl-append-version="true" rel="stylesheet" href="~/themes/FlorDeZaya/site.min.css" />
    <script simpl-append-version="true" src="~/lib/angular/angular.min.js"></script>
    @RenderSection("head", required: false)
</head>
<body>
    <a href="https://api.whatsapp.com/send?phone=5511997898054" class="a-float" target="_blank">
        <img src="/user-content/ZayaWhats.png" class="img-float" alt="Flor de Zaya">
    </a>
    <div class="navbar navbar-expand-lg navbar-dark bg-dark p-0 sticky-top shadow">
        <div class="container justify-content-between">
            <a class="navbar-brand p-0" style="font-family:beauty_flowerregular;font-size:32px" href="/">Flor de Zaya</a>
            <div class="d-flex">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMain" aria-controls="navbarMain" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa-solid fa-ellipsis fa-xl"></i>
                </button>
                <div class="d-block d-lg-none ms-2">
                    @await Component.InvokeAsync("CartBadge", new { top = .5 })
                </div>
            </div>
            <div class="navbar-collapse justify-content-between row align-items-md-start collapse" id="navbarMain">
                <div class="col-auto">
                    @await Component.InvokeAsync("CategoryMenu")
                </div>
                <div class="col-auto">  
                    <ul class="m-0 float-end navbar-nav">
                        <partial name="_LoginPartial" />
                        <li class="nav-item d-none d-lg-block" style="padding-top:1px">
                            @await Component.InvokeAsync("CartBadge")
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="py-2 bg-secondary">
        <div class="container">
            <div class="row">
                <div class="col">                    
                    @await Component.InvokeAsync("SearchForm")
                </div>
            </div>
        </div>
    </div>
    <partial name="_CookieConsentPartial" />
    @RenderBody()
    <div class="footer-content">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-auto px-3">
                    <h4 class="text-center" style="font-size:17px;font-weight:600">@Localizer["Customer Service"]</h4>
                    <vc:menu menu-id="1"></vc:menu>
                </div>
                <div class="col-auto px-3">
                    <h4 class="text-center" style="font-size:17px;font-weight:600">@Localizer["Information"]</h4>
                    <vc:menu menu-id="2"></vc:menu>
                </div>
            </div>
            <div class="row justify-content-center" style="padding: 0 1rem  1rem  1rem">
                <div class="col d-flex justify-content-evenly" style="max-width:30rem">
                    <a class="text-decoration-none text-dark" style="font-size:2.2rem" href="https://www.instagram.com/flordezaya" target="_blank" title="Instagram"><i class="fa-brands fa-instagram-square"></i></a>
                    <a class="text-decoration-none text-dark" style="font-size:2.2rem" href="https://www.facebook.com/flordezaya" target="_blank" title="Facebook"><i class="fa-brands fa-facebook-square"></i></a>
                    <a class="text-decoration-none text-dark" style="font-size:2.2rem" href="https://api.whatsapp.com/send?phone=5511997898054" target="_blank" title="WhatsApp"><i class="fa-brands fa-whatsapp-square"></i></a>
                    <a class="text-decoration-none text-dark" style="font-size:2.2rem" href="mailto:contato@flordezaya.com.br" target="_blank" title="Email"><i class="fa-solid fa-square-envelope"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div id="shopModal" class="modal fade" tabindex="-1">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
            </div>
        </div>
    </div>
    <div id="productOverview" class="modal fade" tabindex="-1">
        <div class="modal-dialog modal-lg">
            <div class="modal-content modal-padding">
            </div>
        </div>
    </div>
    <div class="bg-dark">
        <div class="container">
            <div class="ftr-fnt">
                <span class="ftr-fnt-left">45.273.449/0001-61&nbsp;&nbsp;<br class="ftr-brk"/>Flor de Zaya Roupas Femininas &copy; 2022</span>
                <span class="ftr-fnt-right">Desenvolvido por <a href="/"><strong>connexio</strong></a></span>
            </div>
        </div>
    </div>
    <script>
        window.simplGlobalSetting = {};
        window.simplGlobalSetting.lang = '@CultureInfo.CurrentCulture.Name';
    </script>
    <script simpl-append-version="true" src="~/themes/FlorDeZaya/jquery/jquery-3.6.0.min.js"></script>
    <script simpl-append-version="true" src="~/themes/FlorDeZaya/bootstrap/dist/js/bootstrap.js"></script>
    <script simpl-append-version="true" src="~/lib/matchheight/jquery.matchHeight.js"></script>
    <script simpl-append-version="true" src="~/lib/toastr/build/toastr.min.js"></script>
    <script simpl-append-version="true" src="~/lib/bootstrap-star-rating/js/star-rating.js"></script>
    <script simpl-append-version="true" src="~/lib/signalr/dist/browser/signalr.js"></script>
    @if (CultureInfo.CurrentCulture.Name != SimplCommerce.Infrastructure.GlobalConfiguration.DefaultCulture)
    {
        <script simpl-append-version="true" src="~/lib/bootstrap-star-rating/js/locales/@(CultureInfo.CurrentCulture.Name).js"></script>
    }
    <script simpl-append-version="true" src="~/_content/SimplCommerce.Module.Core/main.js"></script>
    <script simpl-append-version="true" src="~/_content/SimplCommerce.Module.ShoppingCart/add-to-cart.js"></script>
    <script simpl-append-version="true" src="~/_content/SimplCommerce.Module.ProductComparison/product-comparison.js"></script>
    <script simpl-append-version="true" src="~/_content/SimplCommerce.Module.WishList/wishlist.js"></script>
    @RenderSection("scripts", required: false)
    <partial name="_AnalyticsScript" />
</body>
</html>
